# Virtual environments
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db